@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($property, $duration) {
	-webkit-transition: $property $duration linear;
	-moz-transition: $property $duration linear;
	-ms-transition: $property $duration linear;
	-o-transition: $property $duration linear;
	transition: $property $duration linear;
}

@mixin box-sizing() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$radius: 5px;

$duration: 250ms;

$font-size: 1.2em;
$font-family: georgia, serif;

$column-width: 100%;
$padding: 10px;

$grey: #666;

$colour-1: #1abc9c;
$colour-2: #27ae60;
$colour-3: #3498db;
$colour-4: #5959b7;
$colour-5: #EB6B4B;

.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.outer-wrapper {
	width: 100%;
	min-height: 900px;
	position: relative;
	border: 1px solid #c8c7cf;

	h2,h3,p {
		padding: 10px 10px 0 10px;
		margin: 0;
	}

} // outer-wrapper

