.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.outer-wrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;
	display: none;

	h2 {
		padding: 10px 10px 0 10px;
		margin: 0;
	}

	h3 {
		padding: 0 10px;
		margin: 0;
	}

	p {
		padding: 10px;
		margin: 0;
	}

	.head-stand {
		width: 70%;
		float: left;
	}

	.info-box { // Lifecycle chart
		background-color: #ececec;
		margin: 0 10px 15px 10px;
		clear: both;
		
		.life-cycle {
			padding: 10px 10px 0;
		}
	
		p {
			padding: 0;

		}

		.cites, .rank, .volume {
			font-weight: bold;
		}

		.journal {
			font-style: italic;
		}

		.life-cycle-chart {
			margin: 10px 0 0;
		}

		svg {
			margin: 0 0 10px 0;
		}
	}

	.info-box-controls {
		padding: 10px 10px 0 10px;
		width: 20%;
		float: right;
		text-align: right;
				
		button {
			padding: 0.1em 0.3em;
			background-color: #ececec;
			border: 1px solid #999;
			display: inline-block;
			vertical-align: top;
			font-size: 2em;
			color: #666;
			border-radius: 5px;
			cursor: auto;
			// pointer-events: none;
		}

		.active {
			background: #ccc;
			cursor: pointer;
			pointer-events: auto;
		}

		.active:hover {
			background: #aaa;
		}

		.active:active {
			background: #999;
		}
	}

	.tool-tip { // tool-tip
		position: absolute;
		padding: 10px;
		background-color: #333;
		pointer-events: none;
		opacity: 0;
		z-index: 100;
		p {
			margin: 0;
			padding: 0;
			color: #ECF0F1;
		} 
	} // infobox

	.tool-tip:before {
		content: "";
		position:absolute;
		top: -10px;
		left: 48%;
		border-right: 0;
		border-top: 0;
		border-bottom: 10px solid #333;
		border-left: 10px solid transparent;
	}

	.tool-tip.hidden {
		display: none;
	}

	.axis, .numbersGroup { // SVG axes
		path, line {
			fill: none;
			stroke: #666;
			shape-rendering: crispEdges;
		}

		text {
			font-family: sans-serif;
			fill: #666;
			font-size: 13px;
			shape-rendering: crispEdges;
		}
	} // axis

	.barsGroup rect {
		cursor: pointer;
	}

	.discipline-colour {
		@media (min-width: 630px) {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
		}

		margin: 0 0 5px 0;
	}

	ul {
		overflow: visible;
		padding-left: 10px;
		li {
			list-style: none;
			padding: 0 0 0 10px;
			margin: 4px 0px 8px;
		}
	}

} // outer-wrapper


















