@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($property, $duration) {
	-webkit-transition: $property $duration linear;
	-moz-transition: $property $duration linear;
	-ms-transition: $property $duration linear;
	-o-transition: $property $duration linear;
	transition: $property $duration linear;
}

@mixin box-sizing() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$radius: 5px;

$duration: 250ms;

$font-size: 1.2em;
$font-family: georgia, serif;

$column-width: 100%;
$padding: 10px;

$grey: #666;

$colour-1: #1abc9c;
$colour-2: #27ae60;
$colour-3: #3498db;
$colour-4: #5959b7;
$colour-5: #EB6B4B;

.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.outer-wrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;

	h2,h3,p {
		padding: 10px 10px 0 10px;
		margin: 0;
	}

	.discipline-colour {
		@media (min-width: 630px) {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
		}
	}

	ul {
			overflow: visible;
			padding-left: 10px;
			li {
				list-style: none;
				padding: 0 0 0 10px;
				margin: 4px 0px 8px;
			}
		}

	.info-box { // Lifecycle chart
		background-color: #ececec;
		margin: 0 20px 0 10px; 
		
		.life-cycle {

		}

		.info-box-controls {
			padding: 10px 0 0 10px;
					
			button {
				padding: 0.1em 0.3em;
				background-color: #ececec;
				border: 1px solid #999;
				display: inline-block;
				vertical-align: top;
				font-size: 2em;
				color: #666;
				border-radius: 5px;
				cursor: auto;
				// pointer-events: none;
			}

			.active {
				background: #ccc;
				cursor: pointer;
				pointer-events: auto;
			}

			.active:hover {
				background: #aaa;
			}
		}

	
		p {
			padding: 0 10px;

			.cites {
				font-weight: bold;
			}
		}

		.life-cycle-chart {
			margin: 10px 0 10px;
		}

		.line {
			fill: none;
			stroke: steelblue;
			stroke-width: 1.5px;
		}
	}

	.tool-tip { // tool-tip
		position: absolute;
		padding: 10px;
		background-color: #333;
		pointer-events: none;
		opacity: 0;
		z-index: 100;
		p {
			margin: 0;
			padding: 0;
			color: #ECF0F1;
		} 
	} // infobox

	.tool-tip:before {
		content: "";
		position:absolute;
		top: -10px;
		left: 48%;
		border-right: 0;
		border-top: 0;
		border-bottom: 10px solid #333;
		border-left: 10px solid transparent;
	}

	.tool-tip.hidden {
		display: none;
	}

	.axis, .numbersGroup { // SVG axes
		path, line {
			fill: none;
			stroke: #666;
			shape-rendering: crispEdges;
		}

		text {
			font-family: sans-serif;
			fill: #666;
			font-size: 13px;
			shape-rendering: crispEdges;
		}
	} // axis

	.barsGroup rect {
		cursor: pointer;
	}

} // outer-wrapper


















