#journal-meta {
	margin: 0 20px;
	font-size: 85%;
}
#journal-meta .journal-title {
	font-weight: bold;
	font-style: italic;
}
#journal-meta a {
	color: #333;
}
#journal-meta li {
	padding: 5px 15px 5px 0;
	float: left;
}
#journal-meta .copyright {
	padding: 5px 0 5px 15px;
	float: right;
}
#journal-meta small {
	font-size: 100%;
}

#footer {
	padding: 20px 0;
	min-height: 120px;
	background: url(/polopoly_static/img/nature/shared/bg-footer.png) repeat-x 0 0;
	font-size: 85%;
}
#footer a {
	color: #54606a;
	text-decoration: none;
}
#footer a:hover,
#footer a:focus {
	text-decoration: underline;
}

#footer strong { 
	font-style: italic;
	font-weight: normal;
}
#footer .footer-links {
	float: left;
	margin: 0 0 0 20px;
	padding: 0 19px 0 0;
	border-right: 1px dashed #fff;
}


#footer-search {
	float: right;
	margin: 0 20px 0 0;
	padding: 0 0 20px 19px;
	border-left: 1px dashed #fff;
}
#footer-search .txt,
#footer-search button {
	border: 1px solid #c7c8cc;
}

#footer-search .txt:focus,
#footer-search button:focus,
#footer-search button:hover {
	border-color: #333;
	-webkit-box-shadow: 0 0 5px #fff;
	-moz-box-shadow: 0 0 5px #fff;
	box-shadow: 0 0 5px #fff;
}
#footer-search .txt {
	width: 150px;
	padding: 5px;
}
#footer-search button {
	color: #575e66;
	text-transform: lowercase;
	padding: 5px 10px;
	background: #fff url(/polopoly_static/img/nature/shared/bg-footer-search-btn.png) repeat-x 0 100%;
}
#footer .copyright {
	clear: both;
	margin: 0 15px;
	padding: 20px 0 20px 225px;
	color: #000;
	background: url(/polopoly_static/img/nature/shared/npg-logo-full.png) no-repeat 0 50%;
}
#footer small {
	font-size: 100%;
	display: block;
}
#footer small a {
	color: #000;
}


.ie6 #footer .footer-links {
	margin-left: 10px;
}
.ie6 #footer-search {
	margin-right: 10px;
	width: 300px;
}
.ie6 #footer-search fieldset {
	float: right;
}