.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.outer-wrapper {
  width: 100%;
  min-height: 900px;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outer-wrapper h2, .outer-wrapper h3, .outer-wrapper p {
  padding: 10px 10px 0 10px;
  margin: 0;
}
@media (min-width: 630px) {
  .outer-wrapper .choose-option {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.outer-wrapper ul {
  overflow: visible;
  padding-left: 10px;
}
.outer-wrapper ul li {
  list-style: none;
  padding: 2px 0px;
}
.outer-wrapper input[type="checkbox"] {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  position: relative;
  width: 20px;
  -webkit-appearance: none;
}
.outer-wrapper input[type="checkbox"]:after {
  content: "\2713";
  font-size: 1em;
  display: inline-block;
  left: 0.25em;
  position: relative;
  top: 0.1em;
  color: #fff;
  opacity: 0;
}
.outer-wrapper input[type="checkbox"]:checked:after {
  opacity: 1;
}
