.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.outer-wrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outer-wrapper h2, .outer-wrapper h3, .outer-wrapper p {
  padding: 10px 10px 0 10px;
  margin: 0;
}
@media (min-width: 630px) {
  .outer-wrapper .discipline-colour {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.outer-wrapper ul {
  overflow: visible;
  padding-left: 10px;
}
.outer-wrapper ul li {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 4px 0px 8px;
}
.outer-wrapper .info-box {
  background-color: #ececec;
  margin: 0 20px 0 10px;
}
.outer-wrapper .info-box .info-box-controls {
  padding: 10px 0 0 10px;
}
.outer-wrapper .info-box .info-box-controls button {
  padding: 0.1em 0.3em;
  background-color: #ececec;
  border: 1px solid #999;
  display: inline-block;
  vertical-align: top;
  font-size: 2em;
  color: #666;
  border-radius: 5px;
  cursor: auto;
}
.outer-wrapper .info-box .info-box-controls .active {
  background: #ccc;
  cursor: pointer;
  pointer-events: auto;
}
.outer-wrapper .info-box .info-box-controls .active:hover {
  background: #aaa;
}
.outer-wrapper .info-box p {
  padding: 0 10px;
}
.outer-wrapper .info-box p .cites {
  font-weight: bold;
}
.outer-wrapper .info-box .life-cycle-chart {
  margin: 10px 0 10px;
}
.outer-wrapper .info-box .line {
  fill: none;
  stroke: #C1272D;
  stroke-width: 1.5px;
}
.outer-wrapper .tool-tip {
  position: absolute;
  padding: 10px;
  background-color: #333;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
}
.outer-wrapper .tool-tip p {
  margin: 0;
  padding: 0;
  color: #ECF0F1;
}
.outer-wrapper .tool-tip:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 48%;
  border-right: 0;
  border-top: 0;
  border-bottom: 10px solid #333;
  border-left: 10px solid transparent;
}
.outer-wrapper .tool-tip.hidden {
  display: none;
}
.outer-wrapper .axis path, .outer-wrapper .axis line, .outer-wrapper .numbersGroup path, .outer-wrapper .numbersGroup line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
.outer-wrapper .axis text, .outer-wrapper .numbersGroup text {
  font-family: sans-serif;
  fill: #666;
  font-size: 13px;
  shape-rendering: crispEdges;
}
.outer-wrapper .barsGroup rect {
  cursor: pointer;
}
